.video-liked {
  margin-left: 14rem;
  position: absolute;
  top: 1.3rem;
  min-height: inherit;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.video-like-title {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video-like-remove {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 700px) {
  .video-liked {
    margin-left: revert;
  }
}
