.home {
  margin-top: 3rem;
  background-color: var(--primary-color);
}
.img{
    width: 100%;
    margin: 0;
    height: 25rem;
}

.dark{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.light{
  background-color: rgb(249, 254, 255); 
}