.social{
    margin-top: 1rem;
}
.social-heading{
    color: var(--secondary-color);
    font-weight: bold;
    text-transform: capitalize;
}
.social-icons{
    height: 8rem;
    display: flex;
    justify-content: center;
    list-style: none;
}
.social-icon{
    margin:  1rem;
    color: var(--secondary-color);
}
.icon-color{
    color: var(--secondary-color);
}