.navbar{
    height: 4rem ;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--primary-color);
    box-shadow: 0 2px 2px var(--secondary-color);
    border-radius: 0;
}
.nav-logo{
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.text-decorations{
    color: var(--secondary-color);  
}
.search{
border: 2px solid var(--secondary-color);
padding: 5px;
border-radius: 0;
}
.search-bar{
    background-color: var(--secondary-color)
}
.fa-search{
    color: var(--secondary-color);
    background-color: red;
}
.menu-items{
    font-size: 1.1rem;
}
.fas-icons{
    color: var(--secondary-color);
    font-size: 1.2rem;
}
.light-icon{
    color: var(--secondary-color);
}

@media screen and (max-width: 700px) {
.videos{
  justify-content: center;
}
.menu-home, .menu-explore{
    display: none;
}
}

