.video-categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.video-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.video-button:hover {
  color: var(--secondary-color);
  background-color: transparent;
  border: 1px solid var(--secondary-color);
}
