.explore-container {
  margin-top: 4rem;
  display: flex;
  position: relative;
  background-color: var(--primary-color);
  min-height: 100vh;
}
.explore-main {
  margin-left: 14rem;
  padding-left: 4rem;
  background-color: var(--primary-color);
}
@media screen and (max-width: 700px) {
  .explore-main {
    margin-left: revert;
    padding-left: revert;
  }
}
